.result {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.resetBtn {
    margin: 10px 0;
    width: 80px;
    padding: 10px;
    font-size: 1.5rem;
    background: #b3d1f1;
    color: rgb(43, 12, 12);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.resetBtn:hover {
    background: #0056b3;
}

.backLink {
    display: block;
    margin-top: 10px;
          font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

.backLink:hover {
    color: #535bf2;
}

.numbers {
    font-size: 1.2rem;   
    font-weight: bold;   
    color: #007bff;     
    background-color: #f0f8ff;  
    padding: 5px 10px;   
    border-radius: 5px;   
}


